---
import Layout from "@layouts/SiteLayout.astro";
import generateIdsWithACContext from "@helpers/generateIdsWithACContext.ts";
import wikiLinkify from "@helpers/wikiLinkify";
import sb from "@content/data/smallbusiness.ts";

const idsWithACContext = await generateIdsWithACContext(sb);
const { id } = Astro.params;

const pageData = idsWithACContext.find((item) => item.idNumber === id);
if (!pageData) {
  return Astro.redirect("/404");
}

const props = {
  areaId: wikiLinkify(pageData.areaId, idsWithACContext),
  areaTitle: wikiLinkify(pageData.areaTitle, idsWithACContext),
  categoryId: wikiLinkify(pageData.categoryId, idsWithACContext),
  categoryTitle: wikiLinkify(pageData.categoryTitle, idsWithACContext),
  idNumber: wikiLinkify(pageData.idNumber, idsWithACContext),
  idTitle: wikiLinkify(pageData.idTitle, idsWithACContext),
  idDescription:
    pageData.idDescription &&
    wikiLinkify(pageData.idDescription, idsWithACContext),
  examples:
    pageData.examples && wikiLinkify(pageData.examples, idsWithACContext),
  moreInfo:
    pageData.moreInfo && wikiLinkify(pageData.moreInfo, idsWithACContext),
  exceptions:
    pageData.exceptions && wikiLinkify(pageData.exceptions, idsWithACContext),
  alsoSee: pageData.alsoSee && wikiLinkify(pageData.alsoSee, idsWithACContext),
  rationale:
    pageData.rationale && wikiLinkify(pageData.rationale, idsWithACContext),
};

const {
  areaId,
  areaTitle,
  categoryId,
  categoryTitle,
  idTitle,
  idDescription,
  examples,
  moreInfo,
  exceptions,
  alsoSee,
  rationale,
} = props;
---

<Layout title={`${id} ${idTitle}`}>
  <h1 id="jd-id">{id} {idTitle}</h1>
  <button id="copy-jd-id">Copy</button>

  <div class="id-title">
    <a href={`/${areaId}`}>{areaId} {areaTitle}</a> &gt; <a
      href={`/${categoryId}`}
    >
      {categoryId} {categoryTitle}</a
    >
  </div>

  {
    idDescription && (
      <>
        <h3>Description</h3>
        <div set:html={idDescription} />
      </>
    )
  }
  {
    examples && (
      <>
        <h3>Examples</h3>
        <div set:html={examples} />
      </>
    )
  }
  {
    moreInfo && (
      <>
        <h3>More info</h3>
        <div set:html={moreInfo} />
      </>
    )
  }
  {
    exceptions && (
      <>
        <h3>Exceptions</h3>
        <div set:html={exceptions} />
      </>
    )
  }
  {
    alsoSee && (
      <>
        <h3>Also see</h3>
        <div set:html={alsoSee} />
      </>
    )
  }
  {
    rationale && (
      <>
        <h3>Rationale</h3>
        <div set:html={rationale} />
      </>
    )
  }
</Layout>

<style></style>

<script>
  document.getElementById("copy-jd-id")!.addEventListener("click", function () {
    const textToCopy = document.getElementById("jd-id")!.innerText;
    navigator.clipboard
      .writeText(textToCopy)
      .then(() => {
        alert("Text copied to clipboard!");
      })
      .catch((err) => {
        console.error("Failed to copy text: ", err);
      });
  });
</script>
