---
import Ops from "../../layouts/Ops.astro";
import ops from "../../content/data/ops.json";

export function getStaticPaths() {
  const staticPaths = ops.map((manual) => {
    return {
      params: {
        id: manual.id.toString(),
      },
      props: {
        title: manual.title,
      },
    };
  });

  console.log(staticPaths);
  return staticPaths;
}

const { id } = Astro.params;

// Find the specific manual object based on `id`
const manual = ops.find((item) => item.id.toString() === id);

if (!manual) {
  throw new Error(`Manual with ID ${id} not found`);
}
---

<Ops>
  <h1>{id}</h1>
  <h2>{manual.title}</h2>
  <h3>Purpose</h3>
  <div set:html={manual.purpose} />
  <h3>Trigger</h3>
  <div>{manual.trigger}</div>
  <h3>Inputs</h3>
  <div>{manual.inputs}</div>
  <h3>Process</h3>
  <div>{manual.process}</div>
  <h3>Outputs</h3>
  <div>{manual.outputs}</div>
</Ops>
