---
import Slice from "@components/common/Slice.astro";
import { marked } from "marked";

const why = `
If you've ever been frustrated because you couldn't find an important file, or you've sent a client an outdated version of a file because you've saved it in multiple places, this is for you.

If you feel like you spend more time trying to manage your files than you do your business: **we made this for you**.
`;

const how = `
The [Johnny.Decimal system](https://johnnydecimal.com) sets out a methodical way to structure your files, emails, notes, or anything else. Thousands of people have used it to organise their lives for over a decade. It's simple, and it works.

But you don't have time to figure out how to implement this. And why should every small business have to figure it out for themselves? That makes no sense. **Isn't it time we had a standard framework that you could all use?**

That's what we're building. A standard system that gives you a place for everything. Personally supported by us, and backed up by the community. All you have to do is move in.

#### This sounds like more work...

A common objection to a system like this is that having to decide exactly where a thing should go is just _too hard_. Or that we won't all agree on the structure, so it's a waste of time even trying.

But what's more difficult?

- Picking the most suitable from a list of static, pre-defined, comprehensively documented locations? or
- Trying to find that file the way you do it today, i.e. frustrating guesswork.

There's no perfect solution. But with a combination of tools -- good documentation, good search, your own index for edge-cases -- **we can make it _dramatically easier_ for you to find your stuff**.
`;

/*
const who = `
We've designed this for all small businesses. So it doesn't matter what you do: you might make stuff, either physical or digital; you might sell a service, in the real world or online; or you might manage a club, or charity.

Depending on your business, there'll be parts of the system that are more or less relevant to you. But we've created it so that there's a place for _everything_, no matter who you are.

But it's not for every business. At some point you reach a scale where you'd need a custom solution. And now you're not a 'small business'. We think this is probably somewhere around 10-15 employees.

If in doubt, [get in touch](mailto:hello@johnnydecimal.com).
`;
*/

const what = `
This website _is_ the small business system. So you can have a look around and get a feel for the structure. Most of the content is hidden like this ░░░░░ -- when you sign up, you unlock everything.

Here's a really brief tour.

#### 10-19 Company administration

The categories in this area could be the foundation of any business, regardless of the product or service you offer.

[11 The business & its people](/11) is all about the business entity and everyone who keeps it going. For example, [11.12](/11.12) is where you save your [licences, permits, & accreditations](/11.12). If you check out that ID you'll see that we explain what it's for, give some examples, and refer to other relevant IDs.

We have IDs for [business insurance and claims](/11.22), [dispute resolution](/11.33), [hiring staff](/11.41), and more.

To explore the rest, just click around. [10-19](/10-19) is a good place to start. There's a list of all unlocked IDs at [00.00](/00.00).

> To return to this page, click the <a href="/00.91" style="text-decoration: none;">↖</a> arrow to the left of **Small business system** at the very top of the page. Or navigate yourself to [00.91](/00.91) any other way.

#### Search

Search is in demo mode. Try it out: say you're looking for the ID where you manage \`payroll\`. Now imagine being able to find _anything_ in your business this quickly.

#### Always private

_Your_ files live on _your_ computer. **We never have access to your files**. You download a complete folder structure that mirrors this site, as well as text files that you can use to set up your local [index](https://jdcm.al/11.05/).

There are many other benefits, which we'll explore on the coming pages.

> We're still building the system. Search is incomplete, and you'll notice other bugs if you go looking for them. This site is in constant development, and my focus is on building the system over making this early public-facing version bug-free.
`;

const cost = `
Platinum membership is for life. It gets you access to **everything we ever create, for all of time, for a [one-off payment of US$300](https://store.johnnydecimal.com/cart/43063017111688:1)**.<sup>1</sup>

Gold membership is for one year.<sup>2</sup> You have access to everything we do for as long as you're a member. It costs [US$150 a year](https://store.johnnydecimal.com/cart/43069054648456:1).<sup>3</sup>

These are pre-sale prices. They will increase when we launch the system.

This is what me and my partner Lucy do full-time: we quit our jobs to do this. Your membership supports two humans who hand-craft everything you see. The system is the result of thousands of hours of work.

We're not a faceless corporation. There's no lazy AI-generated slop here. No automated helpdesk. You email me, I help you.

Our plan for the next couple of years is to listen to exactly what you need, and to build it for you as quickly as possible. It'll be like having us on your staff.

> 1. Prices include GST in Australia.
> 2. Renews one year after the full system is released, not one year after your initial payment.
> 3. You'll _never_ lose access to your system. If you choose not to renew, you'll just stop getting updates.
`;

const when = `
As you'll see when you're browsing the site, we're still building the system. We are targeting a first release of end-March 2025.

Me and Lucy are working on this 6 days a week. It has our complete focus.
`;

const also = `
As this is a Johnny.Decimal membership, you get **everything else** that we produce.

That's the [workshop](https://jdcm.al/14.22/), [workbook](https://jdcm.al/14.21/), and [life admin system](https://jdcm.al/14.11/). Platinum also includes our 14-hour beginner Excel course, [Learn with Lucy](https://learnwithlucy.rocks).
`;

const next = `
Check out our plans for the [community](/00.92).

`;

const whyHtml = await marked.parse(why);
const howHtml = await marked.parse(how);
// const whoHtml = await marked.parse(who);
const whatHtml = await marked.parse(what);
const costHtml = await marked.parse(cost);
const whenHtml = await marked.parse(when);
const alsoHtml = await marked.parse(also);
const nextHtml = await marked.parse(next);
---

<Slice id="why" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Why?</h3>
    <div class="layout-right-item" set:html={whyHtml} />
  </div>
</Slice>

<Slice id="how" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">How?</h3>
    <div class="layout-right-item" set:html={howHtml} />
  </div>
</Slice>

{
  /*
<Slice id="who" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Who?</h3>
    <div class="layout-right-item" set:html={whoHtml} />
  </div>
</Slice>
*/
}

<Slice id="what" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">What?</h3>
    <div class="layout-right-item" set:html={whatHtml} />
  </div>
</Slice>

<Slice id="cost" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Cost?</h3>
    <div class="layout-right-item" set:html={costHtml} />
  </div>
</Slice>

<Slice id="when" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">When?</h3>
    <div class="layout-right-item" set:html={whenHtml} />
  </div>
</Slice>

<Slice id="also" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Also…</h3>
    <div class="layout-right-item" set:html={alsoHtml} />
  </div>
</Slice>

<Slice id="next" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Next</h3>
    <div class="layout-right-item" set:html={nextHtml} />
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
