---
import { marked } from "marked";
import Layout from "../layouts/Layout.astro";
import generateIdsWithACContext from "../helpers/generateIds";

/**
 * Each standard page gets rendered to /AC.ID for the simplest possible
 * experience. There's no clever sub-foldering (although there's nothing
 * stopping us from doing that _as well_).
 *
 * This way we don't need a _redirects or whatever, we can just use this
 * as the canonical URL.
 */

import sb from "../content/data/smallbusiness.ts";
import { undefined } from "astro:schema";

export async function getStaticPaths() {
  /**
   * All we need to do here is return an array of objects that have
   * the id param set. This becomes the list of pages available at
   * /[id].
   *
   * If we also want data available to the page when it's rendered,
   * we pull that out here and load it on to props.
   */

  interface PageParams {
    id: string;
  }
  interface PageProps {
    areaId: string;
    areaTitle: string;
    categoryId: string;
    categoryTitle: string;
    idNumber: string;
    idTitle: string;
    idDescription?: string;
    examples?: string;
    moreInfo?: string;
    exceptions?: string;
    alsoSee?: string;
    rationale?: string;
  }
  interface PageData {
    params: PageParams;
    props: PageProps;
  }

  const pageData: PageData[] = [];

  const generatedIdsWithACContext = await generateIdsWithACContext(sb);
  console.log(generatedIdsWithACContext);

  for (const id of generatedIdsWithACContext) {
    pageData.push({
      params: { id: id.idNumber },
      props: {
        areaId: id.areaId,
        areaTitle: id.areaTitle,
        categoryId: id.categoryId,
        categoryTitle: id.categoryTitle,
        idNumber: id.idNumber,
        idTitle: id.idTitle,
        idDescription: id.idDescription,
        examples: id.examples,
        moreInfo: id.moreInfo,
        exceptions: id.exceptions,
        alsoSee: id.alsoSee,
        rationale: id.rationale,
      },
    });
  }

  return pageData;
}

const { id } = Astro.params;
const {
  areaId,
  areaTitle,
  categoryId,
  categoryTitle,
  idTitle,
  idDescription,
  examples,
  moreInfo,
  exceptions,
  alsoSee,
  rationale,
} = Astro.props;
---

<Layout title={`${id} ${idTitle}`}>
  <h1 id="jd-id">{id} {idTitle}</h1>
  <button id="copy-jd-id">Copy</button>

  <div class="id-title">
    <a href={areaId}>{areaId} {areaTitle}</a> > <a href={categoryId}
      >{categoryId} {categoryTitle}</a
    >
  </div>

  {
    idDescription && (
      <>
        <h3>Description</h3>
        <div set:html={idDescription} />
      </>
    )
  }
  {
    examples && (
      <>
        <h3>Examples</h3>
        <div set:html={examples} />
      </>
    )
  }
  {
    moreInfo && (
      <>
        <h3>More info</h3>
        <div set:html={moreInfo} />
      </>
    )
  }
  {
    exceptions && (
      <>
        <h3>Exceptions</h3>
        <div set:html={exceptions} />
      </>
    )
  }
  {
    alsoSee && (
      <>
        <h3>Also see</h3>
        <div set:html={alsoSee} />
      </>
    )
  }
  {
    rationale && (
      <>
        <h3>Rationale</h3>
        <div set:html={rationale} />
      </>
    )
  }
</Layout>

<style></style>

<script>
  // @ts-ignore
  document.getElementById("copy-jd-id").addEventListener("click", function () {
    // Get the text from the div
    // @ts-ignore
    const textToCopy = document.getElementById("jd-id").innerText;

    // Copy the text to the clipboard
    navigator.clipboard
      .writeText(textToCopy)
      .then(() => {
        alert("Text copied to clipboard!");
      })
      .catch((err) => {
        console.error("Failed to copy text: ", err);
      });
  });
</script>
