---
import { SignOutButton } from "@clerk/astro/components";

import Slice from "@components/common/Slice.astro";
import system from "@data/smallBusinessFlat";
import { createClerkClient } from "@clerk/astro/server";
import slugToId from "@utils/slugToId";

const { userId } = Astro.locals.auth();
const { slug } = Astro.params;

const id = slugToId(slug);
const entry = system[id];
const idTitle = entry.title;

// #region Forum & Discord links
const forumLinks: Record<string, string> = {
  "11": "https://forum.johnnydecimal.com/c/small-business/11-the-business-its-people/19",
  "12": "https://forum.johnnydecimal.com/c/small-business/12-where-i-trade-how-i-get-around/20",
  "13": "https://forum.johnnydecimal.com/c/small-business/13-money/21",
  "14": "https://forum.johnnydecimal.com/c/small-business/14-technology/23",
  "15": "https://forum.johnnydecimal.com/c/small-business/15-travel-events-social/24",
};
const discordLinks: Record<string, string> = {
  "11": "https://discord.com/channels/822215537589354566/1337958692317827102",
  "12": "https://discord.com/channels/822215537589354566/1344416111856189581",
  "13": "https://discord.com/channels/822215537589354566/1344497228261101600",
  "14": "https://discord.com/channels/822215537589354566/1344497359094284328",
  "15": "https://discord.com/channels/822215537589354566/1344497499725103147",
};

const forumLink = forumLinks[entry.number.slice(0, 2)];
const discordLink = discordLinks[entry.number.slice(0, 2)];
const forumFallback =
  "https://forum.johnnydecimal.com/c/small-business/00-water-cooler/22";
const discordFallback =
  "https://discord.com/channels/822215537589354566/1292946370759495821";
// #endregion

// #region Obsidian link
const obsidianPathURI = encodeURIComponent(`${id} ${idTitle}`);

// Get the user's stored Obsidian vault name
let obsidianVaultURI: string | null = null;
// If there's a user...
if (userId) {
  const clerkClient = createClerkClient({
    secretKey: import.meta.env.CLERK_SECRET_KEY,
  });
  const user = await clerkClient.users.getUser(userId!);
  // ...and they have a stored Obsidian vault name...
  if (user.publicMetadata.obsidianVault) {
    // ...then use it
    obsidianVaultURI = encodeURIComponent(user.publicMetadata.obsidianVault);
  } else {
    // Otherwise, don't show the link
    obsidianVaultURI = null;
  }
}
---

<Slice id="AccountManagement" className="main-text">
  {
    obsidianVaultURI ? (
      <div class="layout-grid-left-right top-item-padding">
        <h3 class="layout-left-item">↗</h3>
        <div class="layout-right-item">
          <a
            href={`obsidian://open?vault=${obsidianVaultURI}&file=${obsidianPathURI}`}
          >
            {id}&nbsp;{idTitle}
          </a>
        </div>
      </div>
    ) : (
      <div class="layout-grid-left-right top-item-padding">
        <h3 class="layout-left-item">↗</h3>
        <div class="layout-right-item">
          <a
            href="#"
            onclick="alert(`When you're signed in, this link opens this entry in your chosen JDex app. We currently support Bear and Obsidian.`)"
          >
            {id}&nbsp;{idTitle}
          </a>
        </div>
      </div>
    )
  }

  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">?</h3>
    <div class="layout-right-item">
      <a href={forumLink ? forumLink : forumFallback} target="_blank">Forum</a> •
      <a href={discordLink ? discordLink : discordFallback} target="_blank"
        >Discord</a
      > •
      <a
        href={`https://airtable.com/appep0KBedENs1fkW/pagnQjbOW4JoXNNax/form?prefill_JD+SBS+ID=${slug}`}
      >
        Feedback form
      </a>
    </div>
  </div>

  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">!</h3>
    <div class="layout-right-item">
      <a href="/00#00.10">Help & support</a>
    </div>
  </div>

  <div class="layout-grid-left-right bottom-item-padding">
    <h3 class="layout-left-item">@</h3>
    <div class="layout-right-item">
      {
        import.meta.env.DEV ? (
          <a href="https://lenient-hound-82.accounts.dev/user">
            Account management
          </a>
        ) : (
          <a
            href="#"
            onclick="alert(`When you're signed in, this link opens your account management page.`)"
          >
            Account management
          </a>
        )
      }
    </div>
  </div>

  <!-- {
    userId ? (
      <div class="layout-grid-left-right">
        <div class="layout-left-item">×</div>
        <div class="layout-right-item border-none">
          <SignOutButton asChild>
            <button>Sign out</button>
          </SignOutButton>
        </div>
      </div>
    ) : null
  } -->
</Slice>

<style lang="scss">
  @use "@styles/common" as *;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: LinkText;
    font: inherit; // Inherit font styles from parent
    text-decoration: underline;
    padding: 0;
  }
  button:hover {
    color: VisitedText;
  }

  h3 {
    font-weight: 400;
    margin: 0;
  }
</style>
