---
/**
 * AdHoc pages are custom builds, every one.
 *
 * We import and render each as a component depending on the slug. This page
 * handles the common stuff like breadcrumbs.
 */

interface Props {
  id: string;
}
const { id } = Astro.props;

/* --------------------------------- Imports -------------------------------- */
import parseMd from "@utils/parseMd";

import Slice from "@components/common/Slice.astro";
import SystemBreadcrumb from "@components/common/SystemBreadcrumb.astro";

import system, {
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
  type AdHocEntry,
} from "@data/smallBusinessFlat";

import AdHoc_00_00 from "@components/AdHoc/AdHoc_00_00.astro";
import AdHoc_00_12 from "@components/AdHoc/AdHoc_00_12.astro";
import AdHoc_00_21 from "@components/AdHoc/AdHoc_00_21.astro";
import AdHoc_05_11 from "@components/AdHoc/AdHoc_05_11.astro";
import AdHoc_00_91 from "@components/AdHoc/AdHoc_00_91.astro";
import AdHoc_00_92 from "@components/AdHoc/AdHoc_00_92.astro";
import AdHoc_00_93 from "@components/AdHoc/AdHoc_00_93.astro";
/* --------------------------- This item's details -------------------------- */
const idTitle = system[id]?.title;
const idEntry = system[id] as AdHocEntry;
const idDescription = await parseMd(idEntry.description);
// const idEmoji = idEntry.emoji;

/* ------------------------------- Breadcrumbs ------------------------------ */
const parentCNumber = idEntry.number.split(".")[0];
const parentCEntry = system[parentCNumber] as CategoryEntry;
const parentCTitle = parentCEntry.title;

const firstDigit = parentCNumber.charAt(0);
const parentANumber = `${firstDigit}0-${firstDigit}9`;
const parentAEntry = system[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

const parentSNumber = "J82";
const parentSEntry = system[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;
---

<SystemBreadcrumb parentSTitle={parentSTitle} />

<Slice id="AreaBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="CategoryBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentCNumber}>{parentCNumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentCNumber}>{parentCTitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{id} {idTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{id}</h1>
    <h1 class="layout-right-item">{idTitle}</h1>
  </div>
</Slice>

{
  idDescription ? (
    <Slice id="IDDescription" className="main-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={idDescription} />
      </div>
    </Slice>
  ) : null
}

{id === "00.00" ? <AdHoc_00_00 /> : null}
{id === "00.12" ? <AdHoc_00_12 /> : null}
{id === "00.21" ? <AdHoc_00_21 /> : null}
{id === "05.11" ? <AdHoc_05_11 /> : null}
{id === "00.91" ? <AdHoc_00_91 /> : null}
{id === "00.92" ? <AdHoc_00_92 /> : null}
{id === "00.93" ? <AdHoc_00_93 /> : null}

<!-- TODO fix this nonsense -->
<div id="EndOfIDsBorder"></div>

<style lang="scss">
  @use "@styles/common" as *;

  #EndOfIDsBorder {
    border-top: 1px solid var(--border-strong);
  }
</style>
