---
/**
 * The area list view component. So we've navigated to /jdex/10-19.
 */

interface Props {
  area: string;
  testRun?: boolean;
}
const { area, testRun } = Astro.props;

import system, {
  getChildren,
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
} from "@data/smallBusinessFlat";
import { parseMdWikiLink } from "@utils/parseMdWikiLink";
import Slice from "./common/Slice.astro";

// Get this entry's details
const areaEntry = system[area] as AreaEntry;
const areaTitle = areaEntry.title;

// - All of its other details for the main content.
const areaDescription = await parseMdWikiLink(areaEntry.description);
const areaEntrySb = areaEntry.extensions?.smallBusiness;
const areaExamples = await parseMdWikiLink(areaEntrySb?.examples);
const areaMoreInfo = await parseMdWikiLink(areaEntrySb?.moreInfo);
const areaExceptions = await parseMdWikiLink(areaEntrySb?.exceptions);
const areaAlsoSee = await parseMdWikiLink(areaEntrySb?.alsoSee);
const areaRationale = await parseMdWikiLink(areaEntrySb?.rationale);

// - An array of the categories that this area contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
const categories = getChildren(system, area) as CategoryEntry[];

// Breadcrumbs to parent items
const parentSNumber = areaEntry.parentNumber;
const parentSEntry = system[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h3 class="layout-right-item"><a href="/">{parentSTitle}</a></h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{area} {areaTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{area}</h1>
    <h1 class="layout-right-item">{areaTitle}</h1>
  </div>
</Slice>

{
  areaDescription ? (
    <Slice id="AreaDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={areaDescription} />
      </div>
    </Slice>
  ) : null
}

{
  areaExamples ? (
    <Slice id="AreaExamples" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Examples</h3>
        <div class="layout-right-item" set:html={areaExamples} />
      </div>
    </Slice>
  ) : null
}

{
  areaMoreInfo ? (
    <Slice id="AreaMoreInfo" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">More info</h3>
        <div class="layout-right-item" set:html={areaMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  areaExceptions ? (
    <Slice id="AreaExceptions" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Exceptions</h3>
        <div class="layout-right-item" set:html={areaExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  areaAlsoSee ? (
    <Slice id="AreaAlsoSee" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Also see</h3>
        <div class="layout-right-item" set:html={areaAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  areaRationale ? (
    <Slice id="AreaRationale" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Rationale</h3>
        <div class="layout-right-item" set:html={areaRationale} />
      </div>
    </Slice>
  ) : null
}

<Slice id="ChildrenInParentLabel" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h2 class="layout-right-item">Categories in this area</h2>
  </div>
</Slice>

<Slice id="ChildrenInParentList" className="secondary-content-bg">
  <ol class="acid-list">
    {
      categories.map(async (category) => {
        const categoryDescription = await parseMdWikiLink(category.description);
        return (
          <li class="layout-grid-left-right">
            <h3 class="layout-left-item">
              <a href={`/${category.number}`}>{category.number}</a>
            </h3>
            <div class="layout-right-item">
              <h3>
                <a href={`/${category.number}`}>{category.title}</a>
              </h3>
              <div set:html={categoryDescription} />
            </div>
          </li>
        );
      })
    }
  </ol>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
