---
/**
 * The area list view component. So we've navigated to
 * /jdex/10-19.
 *
 * Shows the area and all of its categories. Might it be nice to show
 * the header-IDs as well?
 *
 * ```
 * 🕚 10-19 The teens                                        [emoji, big?]
 *      The description of area ten through nineteen.
 *
 * ## 11 The business & its people
 *       Description
 *       11.10 Documents
 *       11.20 Registraions
 *
 * ## 12 Where we trade...
 *          Description
 * ## 13 ...
 *
 * ```
 *
 * So we need:
 * - To be passed the number of the area to render. This is the slug.
 * - The whole system to reference. Just import it directly.
 * - The title of the area for the main header.
 * - The description and emoji of the area.
 * - An array of the categories that this area contains. Each one of those
 *   needs to contain the ID, title, description, emoji.
 * - Where those descriptions have been rendered to HTML from Markdown.
 * - Linking the category header to the category URL.
 * - A breadcrumb to the parent area.
 */

// - To be passed the number of the category to render. This is the slug.
interface Props {
  area: string;
}
const { area } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb from "src/data/smallBusinessFlat";

// - The title of the area for the main header.
const areaEntry = sb[area] as AreaEntry;
const areaTitle = areaEntry.title;

// - The description and emoji of the area.
const areaEmoji = areaEntry.emoji;

// - All of its other details for the main content.
const areaDescription = await marked.parse(wikiLinkify(areaEntry.description));
const areaEntrySb = areaEntry.extensions?.smallBusiness;
const areaExamples =
  areaEntrySb?.examples &&
  (await marked.parse(wikiLinkify(areaEntrySb.examples)));
const areaMoreInfo =
  areaEntrySb?.moreInfo &&
  (await marked.parse(wikiLinkify(areaEntrySb.moreInfo)));
const areaExceptions =
  areaEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(areaEntrySb.exceptions)));
const areaAlsoSee =
  areaEntrySb?.alsoSee &&
  (await marked.parse(wikiLinkify(areaEntrySb.alsoSee)));
const areaRationale =
  areaEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(areaEntrySb.rationale)));

// - An array of the categories that this area contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
import { getChildren } from "src/data/smallBusinessFlat";
import type { AreaEntry, CategoryEntry } from "src/data/smallBusinessFlat";
const categories = getChildren(sb, area) as CategoryEntry[];

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - Wiki-linkify the description
import wikiLinkify from "@helpers/wikiLinkify";

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice>
  <div class="label-text-container">
    <h2 class="number">{areaEntry.number}</h2>
    <div class="title">{areaEntry.title}</div>
  </div>
</Slice>

{
  areaDescription ? (
    <Slice>
      <div class="label-text-container">
        <div />
        <div class="title" set:html={areaDescription} />
      </div>
    </Slice>
  ) : null
}

{
  areaExamples ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Examples</h2>
        <div class="text" set:html={areaExamples} />
      </div>
    </Slice>
  ) : null
}

{
  areaMoreInfo ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">More info</h2>
        <div class="text" set:html={areaMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  areaExceptions ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Exceptions</h2>
        <div class="text" set:html={areaExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  areaAlsoSee ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Also see</h2>
        <div class="text" set:html={areaAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  areaRationale ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Rationale</h2>
        <div class="text" set:html={areaRationale} />
      </div>
    </Slice>
  ) : null
}

<Slice>
  <div class="label-text-container">
    <div class="number"></div>
    <div class="title">---</div>
  </div>
</Slice>

<Slice>
  <ol>
    {
      categories.map(async (category) => {
        const categoryDescription = await marked.parse(
          wikiLinkify(category.description)
        );
        return (
          <li class="label-text-container">
            <h2 class="number">
              <a href={`/${category.number}`}>{category.number}</a>
            </h2>
            <div>
              <div class="title">
                <a href={`/${category.number}`}>{category.title}</a>
              </div>
              <div class="title" set:html={categoryDescription} />
            </div>
          </li>
        );
      })
    }
  </ol>
</Slice>

<style lang="scss">
  @use "@styles/common.scss" as *;

  // TODO: Pull me out, I'm used across AC.ID
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
    line-height: 1.4; // line up with the adjacent <p>
  }

  .label-text-container {
    // Mobile-first
    .title {
      margin-bottom: 1ch;
    }

    @include tablet-portrait-up {
      display: grid;
      grid-template-columns: 10ch auto;

      .label,
      .number {
        padding: 1ch 1ch 0 0;
        justify-self: end;
      }
      .text,
      .title {
        border-left: 1.5px solid lightgrey;
        line-height: 1.4; // align baselines
        margin-bottom: unset;
        padding: 1ch 0 0 1ch;
      }
    }
  }
</style>
