---
/**
 * The category list view component. So we've navigated to
 * /jdex/11.
 *
 * Shows the category and all of its IDs, grouped by header.
 *
 * ```
 * 🕚 11 Eleven                                          [emoji, big?]
 *      The description of category eleven.
 *
 * ## 11.10 Official documents 🗂 ️
 *          Description
 *    11.11 Structure & registrations
 *          Description
 *    11.12 ...
 *
 * ## 11.20 Planning, contingencies, & insurance 🧭
 *          Description
 *    11.21 ...
 * ```
 *
 * So we need:
 * √ To be passed the number of the category to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the category for the main header.
 * √ The description and emoji of the category.
 * √ An array of the IDs that this category contains. Each one of those
 *   needs to contain the ID, title, description, isHeader, emoji.
 * √ Where those descriptions have been rendered to HTML from Markdown.
 * √ Linking the ID header to the ID URL.
 * √ Denoting with styles and a ■ whether it's a header.
 * - A breadcrumb to the parent area.
 */

// - To be passed the number of the category to render. This is the slug.
interface Props {
  category: string;
}
const { category } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb from "@content/data/smallBusinessFlat";

// - The title of the category for the main header.
const categoryEntry = sb[category] as CategoryEntry;
const cTitle = categoryEntry.title;

// - The description and emoji of the category.
const cDescription = categoryEntry.description;
const cEmoji = categoryEntry.emoji;

// - An array of the IDs that this category contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
import { getChildren } from "@content/data/smallBusinessFlat.ts";
import type {
  AreaEntry,
  CategoryEntry,
  IdEntry,
} from "@content/data/smallBusinessFlat";
const ids = getChildren(sb, "11") as IdEntry[];
console.log("=====");
console.log(ids);

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - Wiki-linkify the description
import wikiLinkify from "@helpers/wikiLinkify";

// - A breadcrumb to the parent area.
const parentANumber = categoryEntry.parentNumber;
const parentAEntry = sb[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice>
  <nav>
    <ul>
      <li>
        <a href={`/${parentANumber}`}>
          <span>{parentANumber}</span>
          <span>{parentATitle}</span>
        </a>
      </li>
    </ul>
  </nav>
</Slice>

<Slice>
  <h1 id="number-title">
    <span class="number">{category}</span>
    <span class="title">{cTitle}</span>
    <span class="emoji">{cEmoji}</span>
  </h1>
</Slice>

{
  cDescription ? (
    <Slice>
      <div
        class="description"
        set:html={cDescription && marked.parse(cDescription)}
      />
    </Slice>
  ) : null
}

<Slice>
  <ul id="id-list">
    {
      ids.map((id) => (
        <li class={id.isHeader ? "is-header" : null}>
          <h2>
            {/* - Linking the ID header to the ID URL. */}
            <a href={`/${id.number}`}>
              {id.number} {id.isHeader ? "■" : ""} {id.title}
            </a>
          </h2>
          <div>
            <p
              class="description"
              set:html={
                id.description && marked.parse(wikiLinkify(id.description))
              }
            />
          </div>
        </li>
      ))
    }
  </ul>
</Slice>

<style lang="scss">
  @use "@styles/common.scss" as *;

  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }

  ul#id-list {
    list-style-type: none;
    li.is-header {
      margin-top: var(--large);
    }

    li {
      margin: var(--tiny) 0;
    }
  }

  /*
  h1#number-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "number title emoji";
    gap: 1ch;
    @include mobile {
      grid-template-areas:
        "number emoji"
        "title  title";
    }

    .number,
    .emoji {
      font-size: 4rem;
      line-height: 1;
      @include mobile {
        justify-self: end;
      }
    }
    .number {
      grid-area: number;
    }
    .title {
      grid-area: title;
    }
    .emoji {
      grid-area: emoji;
      padding-top: 5px;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    a {
      text-decoration: none;
    }
  }

  */
</style>
