---
/**
 * The category list view component. So we've navigated to /11.
 */

interface Props {
  category: string;
}
const { category } = Astro.props;

import system, {
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
} from "@data/smallBusinessFlat";
import parseMd from "@utils/parseMd";
import Slice from "@components/common/Slice.astro";
import FurtherReadingLinks from "@components/common/FurtherReadingLinks.astro";
import ChildrenInParent from "@components/common/ChildrenInParent.astro";

// Get this entry's details
const categoryEntry = system[category] as CategoryEntry;
const categoryTitle = categoryEntry.title;

// All of its other details for the main content.
const categoryDescription = await parseMd(categoryEntry.description);
const sb = categoryEntry.extensions?.smallBusiness;
const categoryExamples = sb?.examples && (await parseMd(sb.examples));
const categoryOverview = sb?.overview && (await parseMd(sb.overview));
const categoryExceptions = sb?.exceptions && (await parseMd(sb.exceptions));
const categoryAlsoSee = sb?.alsoSee && (await parseMd(sb.alsoSee));
const categoryRationale = sb?.rationale && (await parseMd(sb.rationale));

const parentADigit = categoryEntry.number.charAt(0);
const parentANumber = `${parentADigit}0-${parentADigit}9`;
const parentAEntry = system[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

const parentSNumber = "J82";
const parentSEntry = system[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h3 class="layout-right-item"><a href="/">{parentSTitle}</a></h3>
  </div>
</Slice>

<Slice id="AreaBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{category} {categoryTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{category}</h1>
    <h1 class="layout-right-item">{categoryTitle}</h1>
  </div>
</Slice>

{
  categoryDescription ? (
    <Slice id="CategoryDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={categoryDescription} />
      </div>
    </Slice>
  ) : null
}

<!-- #region Examples ---------------------------------------------------------->
{
  categoryExamples ? (
    <Slice id="CategoryExamples" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Examples</h3>
        <div class="layout-right-item" set:html={categoryExamples} />
      </div>
    </Slice>
  ) : null
}

{
  categoryOverview ? (
    <Slice id="CategoryOverview" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Overview</h3>
        <div class="layout-right-item" set:html={categoryOverview} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExceptions ? (
    <Slice id="CategoryExceptions" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Exceptions</h3>
        <div class="layout-right-item" set:html={categoryExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  categoryAlsoSee ? (
    <Slice id="CategoryAlsoSee" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Also see</h3>
        <div class="layout-right-item" set:html={categoryAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  categoryRationale ? (
    <Slice id="CategoryRationale" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Rationale</h3>
        <div class="layout-right-item" set:html={categoryRationale} />
      </div>
    </Slice>
  ) : null
}
<!-- #endregion -------------------------------------------------------------->

<FurtherReadingLinks number={category} />

<ChildrenInParent number={category} />

<style lang="scss">
  @use "@styles/common" as *;
</style>
