---
/**
 * The category list view component. So we've navigated to /11.
 */

interface Props {
  category: string;
}
const { category } = Astro.props;

import system, { type CategoryEntry } from "@data/smallBusinessFlat";
import parseMd from "@utils/parseMd";
import Slice from "@components/common/Slice.astro";
import SystemBreadcrumb from "@components/common/SystemBreadcrumb.astro";
import AreaBreadcrumb from "@components/common/AreaBreadcrumb.astro";
import FurtherReadingLinks from "@components/common/FurtherReadingLinks.astro";
import ChildrenInParent from "@components/common/ChildrenInParent.astro";

const categoryEntry = system[category] as CategoryEntry;
const categoryTitle = categoryEntry.title;
const categoryDescription = await parseMd(categoryEntry.description);
const sb = categoryEntry.extensions?.smallBusiness;
const categoryExamples = sb?.examples && (await parseMd(sb.examples));
const categoryOverview = sb?.overview && (await parseMd(sb.overview));
const categoryExceptions = sb?.exceptions && (await parseMd(sb.exceptions));
const categoryAlsoSee = sb?.alsoSee && (await parseMd(sb.alsoSee));
---

<SystemBreadcrumb />

<AreaBreadcrumb thisEntry={categoryEntry} />

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{category} {categoryTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{category}</h1>
    <h1 class="layout-right-item">{categoryTitle}</h1>
  </div>
</Slice>

{
  categoryDescription ? (
    <Slice id="CategoryDescription" className="main-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={categoryDescription} />
      </div>
    </Slice>
  ) : null
}

<!-- #region Examples ---------------------------------------------------------->
{
  categoryExamples ? (
    <Slice id="CategoryExamples" className="main-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Examples</h3>
        <div class="layout-right-item" set:html={categoryExamples} />
      </div>
    </Slice>
  ) : null
}

{
  categoryOverview ? (
    <Slice id="CategoryOverview" className="main-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Overview</h3>
        <div class="layout-right-item" set:html={categoryOverview} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExceptions ? (
    <Slice id="CategoryExceptions" className="main-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Exceptions</h3>
        <div class="layout-right-item" set:html={categoryExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  categoryAlsoSee ? (
    <Slice id="CategoryAlsoSee" className="main-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Also see</h3>
        <div class="layout-right-item" set:html={categoryAlsoSee} />
      </div>
    </Slice>
  ) : null
}
<!-- #endregion -------------------------------------------------------------->

<FurtherReadingLinks number={category} />

<ChildrenInParent number={category} />

<style lang="scss">
  @use "@styles/common" as *;
</style>
