---
/**
 * The category list view component. So we've navigated to
 * /jdex/11.
 *
 * Shows the category and all of its IDs, grouped by header.
 *
 * ```
 * 🕚 11 Eleven                                          [emoji, big?]
 *      The description of category eleven.
 *
 * ## 11.10 Official documents 🗂 ️
 *          Description
 *    11.11 Structure & registrations
 *          Description
 *    11.12 ...
 *
 * ## 11.20 Planning, contingencies, & insurance 🧭
 *          Description
 *    11.21 ...
 * ```
 *
 * So we need:
 * √ To be passed the number of the category to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the category for the main header.
 * √ The description and emoji of the category.
 * √ All of its other details for the main content.
 * √ An array of the IDs that this category contains. Each one of those
 *   needs to contain the ID, title, description, isHeader, emoji.
 * √ Where those descriptions have been rendered to HTML from Markdown.
 * √ Linking the ID header to the ID URL.
 * √ Denoting with styles and a ■ whether it's a header.
 * - A breadcrumb to the parent area.
 */

// - To be passed the number of the category to render. This is the slug.
interface Props {
  category: string;
}
const { category } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb from "src/data/smallBusinessFlat";

// - The title of the category for the main header.
const categoryEntry = sb[category] as CategoryEntry;
const categoryTitle = categoryEntry.title;

// - The description and emoji of the category.
// const categoryEmoji = categoryEntry.emoji;

// - All of its other details for the main content.
const categoryDescription = await marked.parse(
  wikiLinkify(categoryEntry.description)
);
const categoryEntrySb = categoryEntry.extensions?.smallBusiness;
const categoryExamples =
  categoryEntrySb?.examples &&
  (await marked.parse(wikiLinkify(categoryEntrySb.examples)));
const categoryMoreInfo =
  categoryEntrySb?.moreInfo &&
  (await marked.parse(wikiLinkify(categoryEntrySb.moreInfo)));
const categoryExceptions =
  categoryEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(categoryEntrySb.exceptions)));
const categoryAlsoSee =
  categoryEntrySb?.alsoSee &&
  (await marked.parse(wikiLinkify(categoryEntrySb.alsoSee)));
const categoryRationale =
  categoryEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(categoryEntrySb.rationale)));

// - An array of the IDs that this category contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
import { getChildren } from "src/data/smallBusinessFlat";
import type {
  SystemEntry,
  AreaEntry,
  CategoryEntry,
  IdEntry,
} from "src/data/smallBusinessFlat";
const ids = getChildren(sb, category) as IdEntry[];

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - Wiki-linkify the description
import wikiLinkify from "@helpers/wikiLinkify";

// - A breadcrumb to the parent area.
const parentANumber = categoryEntry.parentNumber;
const parentAEntry = sb[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - A breadcrumb to the parent system
const parentSNumber = parentAEntry.parentNumber;
const parentSEntry = sb[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice backgroundColor="#f0f0f0">
  <div class="label-text-container">
    <h2 class="number"><a href="/">{parentSNumber}</a></h2>
    <div class="title">{parentSTitle}</div>
  </div>
</Slice>

<Slice backgroundColor="#f4f4f4">
  <div class="label-text-container">
    <h2 class="number"><a href={parentANumber}>{parentANumber}</a></h2>
    <div class="title">{parentATitle}</div>
  </div>
</Slice>

<Slice>
  <div class="label-text-container">
    <h2 class="number"><strong>{category}</strong></h2>
    <div class="title"><strong>{categoryTitle}</strong></div>
  </div>
</Slice>

{
  categoryDescription ? (
    <Slice>
      <div class="label-text-container">
        <div />
        <div class="title" set:html={categoryDescription} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExamples ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Examples</h2>
        <div class="text" set:html={categoryExamples} />
      </div>
    </Slice>
  ) : null
}

{
  categoryMoreInfo ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">More info</h2>
        <div class="text" set:html={categoryMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExceptions ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Exceptions</h2>
        <div class="text" set:html={categoryExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  categoryAlsoSee ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Also see</h2>
        <div class="text" set:html={categoryAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  categoryRationale ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Rationale</h2>
        <div class="text" set:html={categoryRationale} />
      </div>
    </Slice>
  ) : null
}

<Slice>
  <div class="label-text-container">
    <div class="number"></div>
    <div class="title">---</div>
  </div>
</Slice>

<Slice>
  <ol>
    {
      ids.map(async (id) => {
        const idDescription = await marked.parse(wikiLinkify(id.description));
        return (
          <li class="label-text-container">
            <h2 class="number">
              <a href={`/${id.number}`}>{id.number}</a>
            </h2>
            <div>
              <div class="title">
                <a href={`/${id.number}`}>{id.title}</a>
              </div>
              <div class="title" set:html={idDescription} />
            </div>
          </li>
        );
      })
    }
  </ol>
</Slice>

<style lang="scss">
  @use "@styles/common.scss" as *;

  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
    line-height: 1.4; // line up with the adjacent <p>
  }

  .label-text-container {
    // Mobile-first
    .title {
      margin-bottom: 1ch;
    }

    @include tablet-portrait-up {
      display: grid;
      grid-template-columns: 10ch auto;

      .label,
      .number {
        padding: 1ch 1ch 0 0;
        justify-self: end;
      }
      .text,
      .title {
        border-left: 1.5px solid lightgrey;
        line-height: 1.4; // align baselines
        margin-bottom: unset;
        padding: 1ch 0 0 1ch;
      }
    }
  }

  ul#id-list {
    list-style-type: none;
    li.is-header {
      margin-top: var(--large);
    }

    li {
      margin: var(--tiny) 0;
    }
  }

  /*
  h1#number-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "number title emoji";
    gap: 1ch;
    @include mobile {
      grid-template-areas:
        "number emoji"
        "title  title";
    }

    .number,
    .emoji {
      font-size: 4rem;
      line-height: 1;
      @include mobile {
        justify-self: end;
      }
    }
    .number {
      grid-area: number;
    }
    .title {
      grid-area: title;
    }
    .emoji {
      grid-area: emoji;
      padding-top: 5px;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    a {
      text-decoration: none;
    }
  }

  */
</style>
