---
/**
 * The category list view component. So we've navigated to
 * /jdex/11.
 *
 * Shows the category and all of its IDs, grouped by header.
 *
 * ```
 * 🕚 11 Eleven                                          [emoji, big?]
 *      The description of category eleven.
 *
 * ## 11.10 Official documents 🗂 ️
 *          Description
 *    11.11 Structure & registrations
 *          Description
 *    11.12 ...
 *
 * ## 11.20 Planning, contingencies, & insurance 🧭
 *          Description
 *    11.21 ...
 * ```
 *
 * So we need:
 * √ To be passed the number of the category to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the category for the main header.
 * √ The description and emoji of the category.
 * √ All of its other details for the main content.
 * √ An array of the IDs that this category contains. Each one of those
 *   needs to contain the ID, title, description, isHeader, emoji.
 * √ Where those descriptions have been rendered to HTML from Markdown.
 * √ Linking the ID header to the ID URL.
 * √ Denoting with styles and a ■ whether it's a header.
 * - A breadcrumb to the parent area.
 */

// - To be passed the number of the category to render. This is the slug.
interface Props {
  category: string;
}
const { category } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb from "src/data/smallBusinessFlat";

// - The title of the category for the main header.
const categoryEntry = sb[category] as CategoryEntry;
const categoryTitle = categoryEntry.title;

// - The description and emoji of the category.
// const categoryEmoji = categoryEntry.emoji;

// - All of its other details for the main content.
const categoryDescription = await marked.parse(
  wikiLinkify(categoryEntry.description)
);
const categoryEntrySb = categoryEntry.extensions?.smallBusiness;
const categoryExamples =
  categoryEntrySb?.examples &&
  (await marked.parse(wikiLinkify(categoryEntrySb.examples)));
const categoryMoreInfo =
  categoryEntrySb?.moreInfo &&
  (await marked.parse(wikiLinkify(categoryEntrySb.moreInfo)));
const categoryExceptions =
  categoryEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(categoryEntrySb.exceptions)));
const categoryAlsoSee =
  categoryEntrySb?.alsoSee &&
  (await marked.parse(wikiLinkify(categoryEntrySb.alsoSee)));
const categoryRationale =
  categoryEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(categoryEntrySb.rationale)));

// - An array of the IDs that this category contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
import { getChildren } from "src/data/smallBusinessFlat";
import type {
  SystemEntry,
  AreaEntry,
  CategoryEntry,
  IdEntry,
} from "src/data/smallBusinessFlat";
const ids = getChildren(sb, category) as IdEntry[];

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - Wiki-linkify the description
import wikiLinkify from "@helpers/wikiLinkify";

// - A breadcrumb to the parent area.
const parentANumber = categoryEntry.parentNumber;
const parentAEntry = sb[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - A breadcrumb to the parent system
const parentSNumber = parentAEntry.parentNumber;
const parentSEntry = sb[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h3 class="layout-right-item"><a href="/">{parentSTitle}</a></h3>
  </div>
</Slice>

<Slice id="AreaBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{category} {categoryTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{category}</h1>
    <h1 class="layout-right-item">{categoryTitle}</h1>
  </div>
</Slice>

{
  categoryDescription ? (
    <Slice id="CategoryDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={categoryDescription} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExamples ? (
    <Slice id="CategoryExamples" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Examples</h3>
        <div class="layout-right-item" set:html={categoryExamples} />
      </div>
    </Slice>
  ) : null
}

{
  categoryMoreInfo ? (
    <Slice id="CategoryMoreInfo" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">More info</h3>
        <div class="layout-right-item" set:html={categoryMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExceptions ? (
    <Slice id="CategoryExceptions" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Exceptions</h3>
        <div class="layout-right-item" set:html={categoryExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  categoryAlsoSee ? (
    <Slice id="CategoryAlsoSee" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Also see</h3>
        <div class="layout-right-item" set:html={categoryAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  categoryRationale ? (
    <Slice id="CategoryRationale" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Rationale</h3>
        <div class="layout-right-item" set:html={categoryRationale} />
      </div>
    </Slice>
  ) : null
}

<Slice id="ChildrenInParentLabel" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h2 class="layout-right-item">IDs in this category</h2>
  </div>
</Slice>

<Slice id="ChildrenInParentList" className="secondary-content-bg">
  <ol class="acid-list">
    {
      ids.map(async (id) => {
        // If id isn't a pure JD ID, e.g. it might be +OPS, ignore
        if (!id.number.match(/^\d\d\.\d\d$/)) {
          return;
        }
        const idDescription = await marked.parse(wikiLinkify(id.description));
        return (
          <li class="layout-grid-left-right">
            <h3 class="layout-left-item">
              <a href={`/${id.number}`}>{id.number}</a>
            </h3>
            <div class="layout-right-item">
              <h3>
                <a href={`/${id.number}`}>{id.title}</a>
              </h3>
              <div set:html={idDescription} />
            </div>
          </li>
        );
      })
    }
  </ol>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
