---
/**
 * The category list view component. So we've navigated to
 * /jdex/11.
 *
 * Shows the category and all of its IDs, grouped by header.
 *
 * ```
 * 🕚 11 Eleven                                          [emoji, big?]
 *      The description of category eleven.
 *
 * ## 11.10 Official documents 🗂 ️
 *          Description
 *    11.11 Structure & registrations
 *          Description
 *    11.12 ...
 *
 * ## 11.20 Planning, contingencies, & insurance 🧭
 *          Description
 *    11.21 ...
 * ```
 *
 * So we need:
 * √ To be passed the number of the category to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the category for the main header.
 * √ The description and emoji of the category.
 * √ All of its other details for the main content.
 * √ An array of the IDs that this category contains. Each one of those
 *   needs to contain the ID, title, description, isHeader, emoji.
 * √ Where those descriptions have been rendered to HTML from Markdown.
 * √ Linking the ID header to the ID URL.
 * √ Denoting with styles and a ■ whether it's a header.
 * - A breadcrumb to the parent area.
 */

// - To be passed the number of the category to render. This is the slug.
interface Props {
  category: string;
}
const { category } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb from "src/data/smallBusinessFlat";

// - The title of the category for the main header.
const categoryEntry = sb[category] as CategoryEntry;
const categoryTitle = categoryEntry.title;

// - The description and emoji of the category.
// const categoryEmoji = categoryEntry.emoji;

// - All of its other details for the main content.
const categoryDescription = await marked.parse(
  wikiLinkify(categoryEntry.description)
);
const categoryEntrySb = categoryEntry.extensions?.smallBusiness;
const categoryExamples =
  categoryEntrySb?.examples &&
  (await marked.parse(wikiLinkify(categoryEntrySb.examples)));
const categoryMoreInfo =
  categoryEntrySb?.moreInfo &&
  (await marked.parse(wikiLinkify(categoryEntrySb.moreInfo)));
const categoryExceptions =
  categoryEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(categoryEntrySb.exceptions)));
const categoryAlsoSee =
  categoryEntrySb?.alsoSee &&
  (await marked.parse(wikiLinkify(categoryEntrySb.alsoSee)));
const categoryRationale =
  categoryEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(categoryEntrySb.rationale)));

// - An array of the IDs that this category contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
import { getChildren } from "src/data/smallBusinessFlat";
import type {
  SystemEntry,
  AreaEntry,
  CategoryEntry,
  IdEntry,
} from "src/data/smallBusinessFlat";
const ids = getChildren(sb, category) as IdEntry[];

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - Wiki-linkify the description
import wikiLinkify from "@helpers/wikiLinkify";

// - A breadcrumb to the parent area.
const parentANumber = categoryEntry.parentNumber;
const parentAEntry = sb[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - A breadcrumb to the parent system
const parentSNumber = parentAEntry.parentNumber;
const parentSEntry = sb[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice className="secondary-content-bg system-crumb">
  <div class="label-text-container">
    <h2 class="label"><a href="/">{parentSNumber}</a></h2>
    <h2 class="text"><a href="/">{parentSTitle}</a></h2>
  </div>
</Slice>

<Slice className="secondary-content-bg area-crumb">
  <div class="label-text-container">
    <h2 class="label"><a href={parentANumber}>{parentANumber}</a></h2>
    <h2 class="text"><a href={parentANumber}>{parentATitle}</a></h2>
  </div>
</Slice>

<Slice className="active-top category-crumb">
  <div class="label-text-container">
    <h2 class="label active-item">{category}</h2>
    <h2 class="text active-item">{categoryTitle}</h2>
  </div>
</Slice>

{
  categoryDescription ? (
    <Slice className="active-middle">
      <div class="label-text-container">
        <div />
        <div class="text" set:html={categoryDescription} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExamples ? (
    <Slice className="active-middle">
      <div class="label-text-container">
        <h2 class="label">Examples</h2>
        <div class="text" set:html={categoryExamples} />
      </div>
    </Slice>
  ) : null
}

{
  categoryMoreInfo ? (
    <Slice className="active-middle">
      <div class="label-text-container">
        <h2 class="label">More info</h2>
        <div class="text" set:html={categoryMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  categoryExceptions ? (
    <Slice className="active-middle">
      <div class="label-text-container">
        <h2 class="label">Exceptions</h2>
        <div class="text" set:html={categoryExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  categoryAlsoSee ? (
    <Slice className="active-middle">
      <div class="label-text-container">
        <h2 class="label">Also see</h2>
        <div class="text" set:html={categoryAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  categoryRationale ? (
    <Slice className="active-middle">
      <div class="label-text-container">
        <h2 class="label">Rationale</h2>
        <div class="text" set:html={categoryRationale} />
      </div>
    </Slice>
  ) : null
}

<Slice className="active-bottom" />

<Slice className="secondary-content-bg">
  <div class="label-text-container">
    <div></div>
    <h3 class="text">IDs in this category</h3>
  </div>
</Slice>

<Slice className="secondary-content-bg">
  <ol class="acid-list">
    {
      ids.map(async (id) => {
        const idDescription = await marked.parse(wikiLinkify(id.description));
        return (
          <li class="label-text-container">
            <h2 class="label">
              <a href={`/${id.number}`}>{id.number}</a>
            </h2>
            <div>
              <div class="text">
                <a href={`/${id.number}`}>{id.title}</a>
              </div>
              <div class="text" set:html={idDescription} />
            </div>
          </li>
        );
      })
    }
  </ol>
</Slice>

<style lang="scss">
  @use "@styles/common.scss" as *;
</style>
