---
/**
 * The FurtherReading view component. So we're at /11.11+[0-9].
 */

// #region Props --------------------------------------------------------------
interface Props {
  furtherReadingId: string;
}
const { furtherReadingId } = Astro.props;
// #endregion

// #region Clerk user
const { userId } = Astro.locals.auth();
// #endregion

// #region Imports ------------------------------------------------------------
// Data
import system, {
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
  type IdEntry,
  type FurtherReadingEntry,
} from "@data/smallBusinessFlat";
// Utils
import parseMd from "@utils/parseMd";
// Components
import Slice from "./common/Slice.astro";
// #endregion

// #region Entry: core details ------------------------------------------------
const furtherReadingEntry = system[furtherReadingId] as FurtherReadingEntry;
const isPublic = furtherReadingEntry.isPublic || false;
const furtherReadingIdForDisplay = furtherReadingEntry.number.replace(
  /^\d\d\.\d\d/,
  ""
);

let furtherReadingTitle: string;
let furtherReadingEntryText: string;
if (userId) {
  furtherReadingTitle = furtherReadingEntry.title;
  furtherReadingEntryText = await parseMd(
    furtherReadingEntry.extensions?.furtherReading.text
  );
} else {
  furtherReadingTitle = await parseMd(
    furtherReadingEntry.title,
    false,
    isPublic
  );
  furtherReadingEntryText = await parseMd(
    furtherReadingEntry.extensions?.furtherReading.text,
    true,
    isPublic
  );
}
// TODO Build something that pulls out the H1s from this text and puts them
// in the left side as a header. .map(etc...)

// For moreInfo entries (and similar types), rule 0 applies:
// The parent for these entries is the first 5 characters of the number.
const parentIdNumber = furtherReadingEntry.number.substring(0, 5);
const parentIdEntry = system[parentIdNumber] as IdEntry;
const parentIdTitle = parentIdEntry.title;

// For the category parent (of the parent id), use Rule 1:
const parentCNumber = parentIdEntry.number.split(".")[0];
const parentCEntry = system[parentCNumber] as CategoryEntry;
const parentCTitle = parentCEntry.title;

// For the area parent, use Rule 2:
const firstDigit = parentCEntry.number.charAt(0);
const parentANumber = `${firstDigit}0-${firstDigit}9`;
const parentAEntry = system[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// And for the system parent, use Rule 3:
const parentSNumber = "J82";
const parentSEntry = system[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h3 class="layout-right-item"><a href="/">{parentSTitle}</a></h3>
  </div>
</Slice>

<Slice id="AreaBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="CategoryBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentCNumber}>{parentCNumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentCNumber}>{parentCTitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="IdBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentIdNumber}>{parentIdNumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentIdNumber}>{parentIdTitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">
      {furtherReadingIdForDisplay}
      {furtherReadingTitle}
    </h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{furtherReadingIdForDisplay}</h1>
    <h1 class="layout-right-item">{furtherReadingTitle}</h1>
  </div>
</Slice>

<Slice id="FurtherReadingEntryText" className="descriptive-text">
  <div class="layout-grid-left-right">
    <div></div>
    <div class="layout-right-item" set:html={furtherReadingEntryText} />
  </div>
</Slice>

<!-- TODO: add Ops manuals in this ID :-) -->

<div id="EndOfIDsBorder"></div>

<style lang="scss">
  @use "@styles/common" as *;

  #EndOfIDsBorder {
    border-top: 1px solid var(--border-strong);
  }
</style>
