---
interface Props {
  howToId: string;
  testRun?: boolean;
}

/**
 * The HowTo view component. So we're at /11.11+HOWx.
 *
 * Shows a single ID, with all of its detail. Shows breadcrumbs
 * to its category and area.
 *
 * So we need:
 * √ To be passed the number of the id to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the ID for the main header.
 * √ All of its other details for the main content.
 *   √ Wiki-linking the descriptive text.
 * - Its parent category (number & title), and
 * - Its parent category's parent area (number & title).
 * - Linking the ID header to the ID URL.
 * - Denoting with styles and a ■ whether it's a header.
 *
 * New Dec '24
 * - To import and use the Slice component.
 */

// - To be passed the number of the id to render. This is the slug.
const { howToId, testRun } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb from "src/data/smallBusinessFlat";
import sbTest from "src/data/smallBusinessFlatTest";
let system;
console.log("env:", process.env.NODE_ENV);
if (testRun) {
  system = sbTest;
} else {
  system = sb;
}
import {
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
  type IdEntry,
  type HowToEntry,
} from "src/data/smallBusinessFlat";

// - The title of the ID for the main header.
const howToTitle = system[howToId]?.title;

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - All of its other details for the main content.
const howToEntry = system[howToId] as HowToEntry;
// const idEmoji = howToEntry.emoji;

//   - Wiki-linking the descriptive text.
import wikiLinkify from "@helpers/wikiLinkify";

const howToIdForDisplay = howToId.replace(/^\d\d\.\d\d\+/, "");
const howToDescription = await marked.parse(
  wikiLinkify(howToEntry.description)
);
const howToEntryText = await marked.parse(
  wikiLinkify(howToEntry.extensions?.howTo.text)
);

// - Its parent category (number & title), and
// - Its parent category's parent area (number & title).
const parentIdNumber = howToEntry.parentNumber;
const parentIdEntry = system[parentIdNumber] as IdEntry;
const parentIdTitle = parentIdEntry.title;

const parentCNumber = parentIdEntry.parentNumber;
const parentCEntry = system[parentCNumber] as CategoryEntry;
const parentCTitle = parentCEntry.title;

const parentANumber = parentCEntry.parentNumber;
const parentAEntry = system[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

const parentSNumber = parentAEntry.parentNumber;
const parentSEntry = system[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h3 class="layout-right-item"><a href="/">{parentSTitle}</a></h3>
  </div>
</Slice>

<Slice id="AreaBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="CategoryBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentCNumber}>{parentCNumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentCNumber}>{parentCTitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="IdBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentIdNumber}>{parentIdNumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentIdNumber}>{parentIdTitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{howToIdForDisplay} {howToTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{howToIdForDisplay}</h1>
    <h1 class="layout-right-item">{howToTitle}</h1>
  </div>
</Slice>

{
  howToDescription ? (
    <Slice id="IDDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={howToDescription} />
      </div>
    </Slice>
  ) : null
}

<!-- {
  idExamples ? (
    <Slice id="IDExamples" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Examples</h3>
        <div class="layout-right-item" set:html={idExamples} />
      </div>
    </Slice>
  ) : null
} -->

<!-- TODO: add Ops manuals in this ID :-) -->

<div id="EndOfIDsBorder"></div>

<style lang="scss">
  // @use "@styles/common" as *;

  #EndOfIDsBorder {
    border-top: 1px solid var(--border-strong);
  }
</style>
