---
import "@styles/common.scss";

interface Props {
  id: string;
}

/**
 * The ID view component. So we're at /11.11.
 *
 * Shows a single ID, with all of its detail. Shows breadbreadcrumbs
 * to its category and area.
 *
 * So we need:
 * √ To be passed the number of the id to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the ID for the main header.
 * √ All of its other details for the main content.
 *   √ Wiki-linking the descriptive text.
 * - Its parent category (number & title), and
 * - Its parent category's parent area (number & title).
 * - Linking the ID header to the ID URL.
 * - Denoting with styles and a ■ whether it's a header.
 *
 * New Dec '24
 * - To import and use the Slice component.
 */

// - To be passed the number of the id to render. This is the slug.
const { id } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb, {
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
  type IdEntry,
} from "src/data/smallBusinessFlat";

// - The title of the ID for the main header.
const idTitle = sb[id]?.title;

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - All of its other details for the main content.
const idEntry = sb[id] as IdEntry;
// const idEmoji = idEntry.emoji;

//   - Wiki-linking the descriptive text.
import wikiLinkify from "@helpers/wikiLinkify";

const idDescription = await marked.parse(wikiLinkify(idEntry.description));
const idEntrySb = idEntry.extensions?.smallBusiness;
const idExamples =
  idEntrySb?.examples && (await marked.parse(wikiLinkify(idEntrySb.examples)));
const idMoreInfo =
  idEntrySb?.moreInfo && (await marked.parse(wikiLinkify(idEntrySb.moreInfo)));
const idExceptions =
  idEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(idEntrySb.exceptions)));
const idAlsoSee =
  idEntrySb?.alsoSee && (await marked.parse(wikiLinkify(idEntrySb.alsoSee)));
const idRationale =
  idEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(idEntrySb.rationale)));

// - Its parent category (number & title), and
// - Its parent category's parent area (number & title).
const parentCNumber = idEntry.parentNumber;
const parentCEntry = sb[parentCNumber] as CategoryEntry;
const parentCTitle = parentCEntry.title;

const parentANumber = parentCEntry.parentNumber;
const parentAEntry = sb[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - A breadbreadcrumb to the parent system
const parentSNumber = parentAEntry.parentNumber;
const parentSEntry = sb[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice className="secondary-content-bg breadcrumb system">
  <div class="label-text-grid">
    <div></div>
    <h2 class="text"><a href="/">{parentSTitle}</a></h2>
  </div>
</Slice>

<Slice className="secondary-content-bg breadcrumb area">
  <div class="label-text-grid">
    <h2 class="label"><a href={parentANumber}>{parentANumber}</a></h2>
    <h2 class="text"><a href={parentANumber}>{parentATitle}</a></h2>
  </div>
</Slice>

<Slice className="secondary-content-bg breadcrumb category">
  <div class="label-text-grid">
    <h2 class="label"><a href={parentCNumber}>{parentCNumber}</a></h2>
    <h2 class="text"><a href={parentCNumber}>{parentCTitle}</a></h2>
  </div>
</Slice>

<Slice className="active-top breadcrumb id">
  <div class="label-text-grid active-item">
    <h2 class="label">{id}</h2>
    <h2 class="text">{idTitle}</h2>
  </div>
</Slice>

{
  idDescription ? (
    <Slice className="descriptive-text">
      <div class="label-text-grid">
        <div />
        <div class="text" set:html={idDescription} />
      </div>
    </Slice>
  ) : null
}

{
  idExamples ? (
    <Slice className="descriptive-text">
      <div class="label-text-grid">
        <h2 class="label">Examples</h2>
        <div class="text" set:html={idExamples} />
      </div>
    </Slice>
  ) : null
}

{
  idMoreInfo ? (
    <Slice className="descriptive-text">
      <div class="label-text-grid">
        <h2 class="label">More info</h2>
        <div class="text" set:html={idMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  idExceptions ? (
    <Slice className="descriptive-text">
      <div class="label-text-grid">
        <h2 class="label">Exceptions</h2>
        <div class="text" set:html={idExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  idAlsoSee ? (
    <Slice className="descriptive-text">
      <div class="label-text-grid">
        <h2 class="label">Also see</h2>
        <div class="text" set:html={idAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  idRationale ? (
    <Slice className="descriptive-text">
      <div class="label-text-grid">
        <h2 class="label">Rationale</h2>
        <div class="text" set:html={idRationale} />
      </div>
    </Slice>
  ) : null
}

<style lang="scss">
  @use "@styles/common" as *;
</style>
