---
import "/src/styles/common.scss";

interface Props {
  id: string;
}

/**
 * The ID view component. So we're at /11.11.
 *
 * Shows a single ID, with all of its detail. Shows breadcrumbs
 * to its category and area.
 *
 * So we need:
 * √ To be passed the number of the id to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the ID for the main header.
 * √ All of its other details for the main content.
 *   √ Wiki-linking the descriptive text.
 * - Its parent category (number & title), and
 * - Its parent category's parent area (number & title).
 * - Linking the ID header to the ID URL.
 * - Denoting with styles and a ■ whether it's a header.
 *
 * New Dec '24
 * - To import and use the Slice component.
 */

// - To be passed the number of the id to render. This is the slug.
const { id } = Astro.props;

// - The whole system to reference. Just import it directly.
import sb, {
  type AreaEntry,
  type CategoryEntry,
  type IdEntry,
} from "src/data/smallBusinessFlat";

// - The title of the ID for the main header.
const idTitle = sb[id]?.title;

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - All of its other details for the main content.
const idEntry = sb[id] as IdEntry;
// const idEmoji = idEntry.emoji;

//   - Wiki-linking the descriptive text.
import wikiLinkify from "@helpers/wikiLinkify";

const idDescription = await marked.parse(wikiLinkify(idEntry.description));
const idEntrySb = idEntry.extensions?.smallBusiness;
const idExamples =
  idEntrySb?.examples && (await marked.parse(wikiLinkify(idEntrySb.examples)));
const idMoreInfo =
  idEntrySb?.moreInfo && (await marked.parse(wikiLinkify(idEntrySb.moreInfo)));
const idExceptions =
  idEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(idEntrySb.exceptions)));
const idAlsoSee =
  idEntrySb?.alsoSee && (await marked.parse(wikiLinkify(idEntrySb.alsoSee)));
const idRationale =
  idEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(idEntrySb.rationale)));

// - Its parent category (number & title), and
// - Its parent category's parent area (number & title).
const parentCNumber = idEntry.parentNumber;
const parentCEntry = sb[parentCNumber] as CategoryEntry;
const parentCTitle = parentCEntry.title;

const parentANumber = parentCEntry.parentNumber;
const parentAEntry = sb[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";
---

<Slice>
  <div class="label-text-container">
    <h2 class="number"><a href={parentANumber}>{parentANumber}</a></h2>
    <div class="title">{parentATitle}</div>
  </div>
</Slice>

<Slice>
  <div class="label-text-container">
    <h2 class="number"><a href={parentCNumber}>{parentCNumber}</a></h2>
    <div class="title">{parentCTitle}</div>
  </div>
</Slice>

<Slice>
  <div class="label-text-container">
    <h2 class="number"><strong>{id}</strong></h2>
    <div class="title"><strong>{idTitle}</strong></div>
  </div>
</Slice>

{
  idDescription ? (
    <Slice>
      <div class="label-text-container">
        <div />
        <div class="title" set:html={idDescription} />
      </div>
    </Slice>
  ) : null
}

{
  idExamples ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Examples</h2>
        <div class="text" set:html={idExamples} />
      </div>
    </Slice>
  ) : null
}

{
  idMoreInfo ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">More info</h2>
        <div class="text" set:html={idMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  idExceptions ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Exceptions</h2>
        <div class="text" set:html={idExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  idAlsoSee ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Also see</h2>
        <div class="text" set:html={idAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  idRationale ? (
    <Slice>
      <div class="label-text-container">
        <h2 class="label">Rationale</h2>
        <div class="text" set:html={idRationale} />
      </div>
    </Slice>
  ) : null
}

<style lang="scss">
  @use "@styles/common.scss" as *;

  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
    line-height: 1.4; // line up with the adjacent <p>
  }

  .label-text-container {
    // Mobile-first
    .title {
      margin-bottom: 1ch;
    }

    @include tablet-portrait-up {
      display: grid;
      grid-template-columns: 10ch auto;

      .label,
      .number {
        padding: 1ch 1ch 0 0;
        justify-self: end;
      }
      .text,
      .title {
        border-left: 1.5px solid lightgrey;
        line-height: 1.4; // align baselines
        margin-bottom: unset;
        padding: 1ch 0 0 1ch;
      }
    }
  }

  // --------- old but might be useful ---------
  /* 
  h1#number-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "number emoji"
      "title  title";
    gap: 1ch;

    .number,
    .emoji {
      font-size: 4rem;
      line-height: 1;
      @include mobile {
        justify-self: end;
      }
    }
    .number {
      grid-area: number;
    }
    .title {
      grid-area: title;
    }
    .emoji {
      grid-area: emoji;
      padding-top: 5px;
    }
  }
    */
</style>
