---
interface Props {
  id: string;
  testRun?: boolean;
}

/**
 * The ID view component. So we're at /11.11.
 *
 * Shows a single ID, with all of its detail. Shows breadbreadcrumbs
 * to its category and area.
 *
 * So we need:
 * √ To be passed the number of the id to render. This is the slug.
 * √ The whole system to reference. Just import it directly.
 * √ The title of the ID for the main header.
 * √ All of its other details for the main content.
 *   √ Wiki-linking the descriptive text.
 * - Its parent category (number & title), and
 * - Its parent category's parent area (number & title).
 * - Linking the ID header to the ID URL.
 * - Denoting with styles and a ■ whether it's a header.
 *
 * New Dec '24
 * - To import and use the Slice component.
 */

// - To be passed the number of the id to render. This is the slug.
const { id } = Astro.props;

// - The whole system to reference. Just import it directly.
import system, {
  type SystemEntry,
  type AreaEntry,
  type CategoryEntry,
  type IdEntry,
} from "src/data/smallBusinessFlat";

// - The title of the ID for the main header.
const idTitle = system[id]?.title;

// - Where those descriptions have been rendered to HTML from Markdown.
import { marked } from "marked";
import { markedSmartypants } from "marked-smartypants";
marked.use(markedSmartypants());

// - All of its other details for the main content.
const idEntry = system[id] as IdEntry;
// const idEmoji = idEntry.emoji;

//   - Wiki-linking the descriptive text.
import wikiLinkify from "@utils/wikiLinkify";

const idDescription = await marked.parse(wikiLinkify(idEntry.description));
const idEntrySb = idEntry.extensions?.smallBusiness;
const idExamples =
  idEntrySb?.examples && (await marked.parse(wikiLinkify(idEntrySb.examples)));
const idMoreInfo =
  idEntrySb?.moreInfo && (await marked.parse(wikiLinkify(idEntrySb.moreInfo)));
const idExceptions =
  idEntrySb?.exceptions &&
  (await marked.parse(wikiLinkify(idEntrySb.exceptions)));
const idAlsoSee =
  idEntrySb?.alsoSee && (await marked.parse(wikiLinkify(idEntrySb.alsoSee)));
const idRationale =
  idEntrySb?.rationale &&
  (await marked.parse(wikiLinkify(idEntrySb.rationale)));

// - An array of the IDs that this ID contains. Each one of those
//   needs to contain the ID, title, description, isHeader, emoji.
import { getChildren } from "src/data/smallBusinessFlat";
const subIds = getChildren(system, id) as IdEntry[];
subIds.sort((a, b) => {
  // if a.number is alphabetically before b.number
  if (a.number < b.number) {
    return -1;
  }
  // if a.number is alphabetically after b.number
  if (a.number > b.number) {
    return 1;
  }
  // a must be equal to b
  return 0;
});

// - Its parent category (number & title), and
// - Its parent category's parent area (number & title).
const parentCNumber = idEntry.parentNumber;
const parentCEntry = system[parentCNumber] as CategoryEntry;
const parentCTitle = parentCEntry.title;

const parentANumber = parentCEntry.parentNumber;
const parentAEntry = system[parentANumber] as AreaEntry;
const parentATitle = parentAEntry.title;

// - A breadcrumb to the parent system
const parentSNumber = parentAEntry.parentNumber;
const parentSEntry = system[parentSNumber] as SystemEntry;
const parentSTitle = parentSEntry.title;

// - To import and use the Slice component.
import Slice from "./common/Slice.astro";

// Get all children of this ID
const children = getChildren(system, id);
// Get any 'more info' children, which have a number AC.ID+[0-9]
const moreInfos = children.filter((child) =>
  child.number.match(/^\d\d\.\d\d\+[0-9]/)
);
const opsManuals = children.filter((child) =>
  child.number.match(/^\d\d\.\d\d\+OPS/)
);

import { createClerkClient } from "@clerk/astro/server";
const { userId } = Astro.locals.auth();
const clerkClient = createClerkClient({
  secretKey: import.meta.env.CLERK_SECRET_KEY,
});
const user = await clerkClient.users.getUser(userId!);
const obsidianVaultURI = encodeURIComponent(user.publicMetadata.obsidianVault);
const obsidianPathURI =
  obsidianVaultURI && encodeURIComponent(`${id} ${idTitle}`);
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h3 class="layout-right-item"><a href="/">{parentSTitle}</a></h3>
  </div>
</Slice>

<Slice id="AreaBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="CategoryBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentCNumber}>{parentCNumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentCNumber}>{parentCTitle}</a>
    </h3>
  </div>
</Slice>

<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{id} {idTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1 class="layout-left-item">{id}</h1>
    <h1 class="layout-right-item">{idTitle}</h1>
  </div>
</Slice>

<!-- #region Optional fields -------------------------------------------------->
{
  idDescription ? (
    <Slice id="IDDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={idDescription} />
      </div>
    </Slice>
  ) : null
}

{
  idExamples ? (
    <Slice id="IDExamples" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Examples</h3>
        <div class="layout-right-item" set:html={idExamples} />
      </div>
    </Slice>
  ) : null
}

{
  idMoreInfo ? (
    <Slice id="IDMoreInfo" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">More info</h3>
        <div class="layout-right-item" set:html={idMoreInfo} />
      </div>
    </Slice>
  ) : null
}

{
  idExceptions ? (
    <Slice id="IDExceptions" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Exceptions</h3>
        <div class="layout-right-item" set:html={idExceptions} />
      </div>
    </Slice>
  ) : null
}

{
  idAlsoSee ? (
    <Slice id="IDAlsoSee" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Also see</h3>
        <div class="layout-right-item" set:html={idAlsoSee} />
      </div>
    </Slice>
  ) : null
}

{
  idRationale ? (
    <Slice id="IDRationale" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Rationale</h3>
        <div class="layout-right-item" set:html={idRationale} />
      </div>
    </Slice>
  ) : null
}

{
  moreInfos.length > 0 ? (
    <Slice id="MoreInfos" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">More info</h3>
        <div class="layout-right-item">
          <ul>
            {moreInfos.map((moreInfo) => {
              return (
                <li>
                  <a href={`/${moreInfo.number}`}>
                    {moreInfo.number.replace(/^\d\d\.\d\d\+[0-9]/, "")}
                    {moreInfo.title}
                  </a>
                </li>
              );
            })}
          </ul>
        </div>
      </div>
    </Slice>
  ) : null
}

{
  opsManuals.length > 0 ? (
    <Slice id="OpsManuals" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Ops manuals</h3>
        <div class="layout-right-item">
          <ul>
            {opsManuals.map((opsManual) => {
              return (
                <li>
                  <a href={`/${opsManual.number}`}>
                    {opsManual.number.replace(/^\d\d\.\d\d\+OPS[0-9]+/, "")}
                    {opsManual.title}
                  </a>
                </li>
              );
            })}
          </ul>
        </div>
      </div>
    </Slice>
  ) : null
}
<!-- #endregion -->

{
  obsidianVaultURI ? (
    <Slice id="ObsidianVaultLink" className="descriptive-text">
      <div class="layout-grid-left-right">
        <h3 class="layout-left-item">Open in Obsidian</h3>
        <div class="layout-right-item">
          <a
            href={`obsidian://open?vault=${obsidianVaultURI}&file=${obsidianPathURI}`}
          >
            {id} {idTitle}
          </a>
        </div>
      </div>
    </Slice>
  ) : null
}

<div id="EndOfIDsBorder"></div>

<style lang="scss">
  @use "@styles/common" as *;

  :global(#EndOfIDsBorder) {
    border-top: 1px solid var(--border-strong);
  }

  :global(#MoreInfos),
  :global(#OpsManuals) {
    ul {
      list-style-type: none;
      padding-left: 0;
      @include tablet-portrait-up {
        margin-top: 0;
      }
    }
    li {
      margin-bottom: 0.5rem;
    }
  }
</style>
