---
/**
 * The system list view component. So we've navigated to /.
 */

import system, {
  getAllByType,
  getChildren,
  type SystemEntry,
  type AreaEntry,
} from "@data/smallBusinessFlat";
import parseMd from "@utils/parseMd";
import Slice from "./common/Slice.astro";
import FurtherReadingLinks from "./common/FurtherReadingLinks.astro";
import ChildrenInParent from "./common/ChildrenInParent.astro";
// Get this entry's details
const systemEntry = getAllByType(system, "system")[0] as SystemEntry;
const systemTitle = systemEntry.title;
const systemDescription = await parseMd(systemEntry.description);
---

<!-- This duplication isn't actually required here, but it keeps
     consistency with the other components & simplifies CSS. -->
<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{systemTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1></h1>
    <h1 class="layout-right-item">{systemTitle}</h1>
  </div>
</Slice>

{
  systemDescription ? (
    <Slice id="SystemDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={systemDescription} />
      </div>
    </Slice>
  ) : null
}

<FurtherReadingLinks number={systemEntry.number} label="Help" />

<ChildrenInParent number={systemEntry.number} />

<style lang="scss">
  @use "@styles/common" as *;
</style>
