---
/**
 * The system list view component. So we've navigated to /.
 */

import system, {
  getAllByType,
  getChildren,
  type SystemEntry,
  type AreaEntry,
} from "@data/smallBusinessFlat";
import { parseMdWikiLink } from "@utils/parseMdWikiLink";
import Slice from "./common/Slice.astro";

// Get this entry's details
const systemEntry = getAllByType(system, "system")[0] as SystemEntry;
const systemTitle = systemEntry.title;
const systemDescription = await parseMdWikiLink(systemEntry.description);

// An array of the areas that this area contains. Each one of those
// needs to contain the ID, title, description, isHeader, emoji.
const areas = getChildren(system, systemEntry.number) as AreaEntry[];
---

<!-- This duplication isn't actually required here, but it keeps
     consistency with the other components & simplifies CSS. -->
<Slice id="Header" className="active-top">
  <div class="layout-grid-left-right phone-only">
    <h1 class="layout-left-item">{systemTitle}</h1>
  </div>
  <div class="layout-grid-left-right tablet-portrait-up">
    <h1></h1>
    <h1 class="layout-right-item">{systemTitle}</h1>
  </div>
</Slice>

{
  systemDescription ? (
    <Slice id="SystemDescription" className="descriptive-text">
      <div class="layout-grid-left-right">
        <div />
        <div class="layout-right-item" set:html={systemDescription} />
      </div>
    </Slice>
  ) : null
}

<Slice id="ChildrenInParentLabel" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div></div>
    <h2 class="layout-right-item">Areas in this system</h2>
  </div>
</Slice>

<Slice id="ChildrenInParentList" className="secondary-content-bg">
  <ol class="acid-list">
    {
      areas.map(async (area) => {
        const areaDescription = await parseMdWikiLink(area.description);
        return (
          <li class="layout-grid-left-right">
            <h3 class="layout-left-item">
              <a href={`/${area.number}`}>{area.number}</a>
            </h3>
            <div class="layout-right-item">
              <h3>
                <a href={`/${area.number}`}>{area.title}</a>
              </h3>
              <div set:html={areaDescription} />
            </div>
          </li>
        );
      })
    }
  </ol>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
