---
/**
 * # ACIDLabelText
 *
 * To display an ACID label/link, e.g. `10-19 Company admin`.
 *
 * Assumption: that the labelNumber is also the URL to link to.
 * Decision: to start, we're not going to have the area/category links in a
 *           <nav><ul> structure. It just complicates things and probably not
 *           for any benefit. We can always retro-fit it later if this design
 *           works.
 * Decision: therefore, this component handles one thing at a time: an area,
 *           or a category.
 */

interface Props {
  areaNumber: string;
  areaTitle: string;
  categoryNumber?: string;
  categoryTitle?: string;
}

// These are always simple text strings, not HTML
const { areaNumber, areaTitle, categoryNumber, categoryTitle } = Astro.props;
---

<nav id="acid-label-text">
  <ul>
    {/* There's always an area */}
    <li id="area">
      <a href={`/${areaNumber}`}>{areaNumber}</a>
      <a href={`/${areaTitle}`}>{areaTitle}</a>
    </li>
    {/* There might be a category */}
    {
      categoryNumber ? (
        <li id="category">
          <a href={`/${categoryNumber}`}>
            {categoryNumber} {categoryTitle}
          </a>
        </li>
      ) : null
    }
  </ul>
</nav>

<style lang="scss">
  @use "@styles/common" as *;

  nav#acid-label-text {
    #area {
      text-indent: -6ch;
      padding-left: 6ch;
    }
    #category {
      text-indent: -3ch;
      padding-left: 6ch;
    }
  }
</style>
