---
/**
 * When do I need an Area breadcrumb?
 *
 * 1. When I'm viewing any ID.
 * 2. When I'm viewing any category.
 * 3. When I'm viewing an ID:FR.
 * 3. When I'm viewing a C:FR.
 * 4. When I'm viewing an A:FR.
 */
interface Props {
  thisEntry: IdEntry | CategoryEntry | FurtherReadingEntry | AdHocEntry;
}
const { thisEntry } = Astro.props;

import Slice from "@components/common/Slice.astro";
import system, {
  type AreaEntry,
  type CategoryEntry,
  type IdEntry,
  type FurtherReadingEntry,
  type AdHocEntry,
} from "@data/smallBusinessFlat";

function getParentArea(
  thisEntry: IdEntry | CategoryEntry | FurtherReadingEntry | AdHocEntry
): {
  parentANumber: string;
  parentATitle: string;
} {
  const parentADigit = thisEntry.number.charAt(0);
  const parentANumber = `${parentADigit}0-${parentADigit}9`;
  const parentAEntry = system[parentANumber] as AreaEntry;
  const parentATitle = parentAEntry.title;
  return {
    parentANumber,
    parentATitle,
  };
}

const { parentANumber, parentATitle } = getParentArea(thisEntry);
---

<Slice id="AreaBreadcrumb" className="secondary-content-bg breadcrumb">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">
      <a href={parentANumber}>{parentANumber}</a>
    </h3>
    <h3 class="layout-right-item">
      <a href={parentANumber}>{parentATitle}</a>
    </h3>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
